

$main-color: #003366;
$main-color-dark: #002244;
$main-color-light: #336699;
$main-color-lighter:#6699CC;
$secondary-color: #808080;
$secondary-color-light:#D3D3D3;
$main-font-family: 'Poppins', sans-serif;
$gradiant-background: linear-gradient(to bottom, #D3D3D3, #808080);
$gradiant-background-header: linear-gradient(to bottom, #E6E6E6, #B0B0B0 );
$buttons-box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);